body, html {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4EB0BB;
}
.container {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: 0 auto;

}
.wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px #666;
    background-color: #F9F9F9;
}
.search-form {
    width: 778px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    background-color: #fff;
}
.search-form__input {
    margin: 0;
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 12px;
}
.search-form__group {
    text-align: center;
}
.search-form__button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #222;
    outline: none;
    padding: 10px;
    font-size: 12px;
}
.search-form__button:hover {
    background-color: #ddd;
    cursor: pointer;
}
.search-form__header {
    margin-bottom: 30px;
}
.search-form__header-text {
    font-size: 15px;
    margin-top: 15px;
}
.search-form__header-text:first-child {
    margin: 0;
}


.search-result {
    width: 800px;
    margin: 100px auto 0 auto;
}
.search-result__header {
    margin-bottom: 10px;
}
.search-result__body {
    background-color: #fff;
}
.search-result__header-text {
    margin: 0;
}


.search-result__table {
    font-size: 14px;
    text-align: center;

}
.search-result__table-row {
    border: 1px solid #ddd;
    font-weight: bold;
}
.search-result__table-row_no-right-border {
    border-right: none;
}
.search-result__table-row_no-bottom-border {
    border-bottom: none;
}
.search-result__result-row {
    font-weight: bold;
    background-color: #f1f1f1;
}

.header {
    padding-top: 20px;
    margin-bottom: 20px;
}
.header:after {
    content: '';
    display: block;
    clear: both;
}

.header__left {
    float: left;
    width: 370px;
    text-align: right;
}
.header__right {
    width: 370px;
    float: left;
}
.header__center {
    text-align: center;
    float: left;
    width: 220px;
}

.header__link {
    color: #941313;
    font-size: 14px;
}
.header__title {
    color: #1C4558;
    margin-bottom: 10px;
}
.header__main-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #1C4558;
    line-height: 18px;
}
.header__main-title a {
    color: #1C4558;
    font-weight: normal;
    font-size: 18px;

    text-decoration: none;
}
.header__main-title a:hover {
    text-decoration: underline;
}
.header__date {
    color: #1C4558;
}
.header__address {
    padding-top: 30px;
    color: #1C4558;
    font-style: normal;
    font-size: 14px;
}
.header__contacts {
    color: #1C4558;
    font-size: 14px;
}



.uploader {
    text-align: center;
    width: 500px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 50px auto;
    background-color: #fff;
}
.uploader__header {
    margin: 0 0 15px 0;
}
.block-header {
    width: 800px;
    margin: 0 auto 10px auto;
}
.block-header__text {
    margin: 0;
}