body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 30px;
    position: relative;
}
.search-form {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}
.search-form__input {
    margin: 0;
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 12px;
}
.search-form__group {
    text-align: center;
}
.search-form__button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #222;
    outline: none;
    padding: 10px;
    font-size: 12px;
}
.search-form__button:hover {
    background-color: #ddd;
    cursor: pointer;
}
.search-form__header {
    margin-bottom: 30px;
}
.search-form__header-text {
    font-size: 15px;
    margin-top: 15px;
}
.search-form__header-text:first-child {
    margin: 0;
}


.search-result {
    width: 800px;
    margin: 50px auto 0 auto;
}
.search-result__header {
    margin-bottom: 20px;
    text-align: center;
}
.search-result__body {
    text-align: center;
}
.search-result__header-text {
    margin: 0;
}


.search-result__table {
    font-size: 14px;
    text-align: center;

}
.search-result__table-row {
    border: 1px solid #ddd;
    font-weight: bold;
}
.search-result__table-row_no-right-border {
    border-right: none;
}
.search-result__table-row_no-bottom-border {
    border-bottom: none;
}
.search-result__result-row {
    font-weight: bold;
    background-color: #f1f1f1;
}

.header {
    margin-bottom: 30px;
}
.header__text {
    margin: 0;
    text-align: center;
}
.header__text_title {
    margin-top: 30px;
}
.header__link {
    text-decoration: none;
    color: #2196F3;
}
.header__link:hover {
    color: #1565C0;
}
.uploader {
    text-align: center;
    width: 500px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 50px auto;
}
.uploader__header {
    margin: 0 0 15px 0;
}