<div class="search-form">
    <div class="search-form__header">
        <p class="search-form__header-text">
            На данной странице Вы можете узнать порядковый номер очереди на предоставление путевки на ребенка на санаторно-курортное лечение.
        </p>
        <p class="search-form__header-text">
            Необходимо ввести регистрационный номер в журнале учета заявлений о предоставлении путевки на ребенка и нажать кнопку "Найти".
        </p>
    </div>
    <form action="/" method="POST">
        <div class="search-form__group">
            <input type="text" name="regNumber" placeholder="Введите регистрационный номер" class="search-form__input">
            <button type="submit" class="search-form__button">Найти</button>
        </div>
    </form>
</div>
